<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <meta property="og:title" content="Share your health data with {{clientname}}" />
        <meta property="og:image" content="" />
        <title>{{clientname}}</title>
        <link href="/s/css/styles.css" rel="stylesheet" type="text/css" />
        <link href="/s/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <script>{{{hapiMixpanel}}}</script>
        <script src="/s/js/jquery.min.js"></script>
        <script id="connect" src="{{connectjsURL}}"></script>
        <script id="kiosk" src="/s/js/kiosk-script.js"></script>
        <style>
             @media (max-width: 699px) {
                .humanapi-app__main {
                    background-position: left 40% bottom calc(95% - 10rem);
                }
            }
            @media (max-width: 699px) and (min-device-height: 668px), (min-width: 550px) {
                .humanapi-app__main {
                    background-position: left 40% bottom calc(95% - 15rem);
                }
            }
            @media (min-width: 700px) {
                .humanapi-app__main {
                    background-position: left 25% bottom calc(100% - 20rem);
                }
            }
        </style>
    </head>
    <body class="humanapi-app">
        <div class="humanapi-app__main" id="app">
            <img alt="{{clientname}}" class="humanapi-app__logo" id="logo" src="/s/img/logo.png"/>
            <h1 class="humanapi-app__heading">Accelerate your health data</h1>
            {{!--
            <!-- <div class="msg-container">   </div> -->
            --}}
            <div class="signup__container" id="signup-container">
                <form autocomplete="off" class="signup__form" method="post" id="signup-form">
                    <h2 class="form-heading">Please read through before continuing:</h2>
                    <div class="tos-content" id="tos-content">
                        <p class="signup__copy">
                            {{clientname}} uses Human API to allow you to digitally and securely share your health data with us, so that we can provide you with a more personalized health experience.
                        </p>
                        <br />
                        <p class="signup__copy">
                            The traditional process of collecting medical information can take four (4) to six (6) weeks. By opting to share your electronic health
                            records, you can reduce the time it takes to complete this step of the process down to
                            as little as five (5) minutes.
                        </p>
                        <br />
                        <p class="signup__copy">
                            If you've ever used a patient portal to connect with your doctors or access your medical
                            records, you can authorize the delivery of this information to {{clientname}}. All you need to get
                            started are the login credentials you use to sign into your provider patient portal(s).
                        </p>
                    </div>
                    <label id="tos_div" class="signup__copy container" style="font-size: 1.125em;">
                        <div class="checkbox-area">
                            <div style="margin-right: 10px;">
                                <input id="tos" type="checkbox" name="tos-agree">
                                <span class="checkmark"></span>
                            </div>
                            <div>
                                I have read and understand the above
                            </div>
                        </div>
                    </label>
                    <button id="connect-button" class="signup__connect" onclick="HapiConnectOpen({{humanConnectOptions}})" disabled>
                        Connect my health data
                    </button>
                    <p class="signup__copy" style="margin: 1.1875rem 0 1rem;font-size: 0.80rem;">
                        By signing into your online accounts, you authorize the transfer of your health data to Human API
                        and agree to these <a href="https://www.humanapi.co/end-user-terms" target="_blank">Terms of Service</a>
                    </p>
                    {{!--
                    <!--<a class="signup__decline" href="{{declinationLink}}">No thanks</a>-->
                    --}}
                </form>
            </div>
            <div class="footer-imgs">
                <div class="help-links">
                    <p class="signup__copy">
                        <b>Have questions?</b> Read our <a href="https://reference.humanapi.co/page/frequently-asked-questions" target="_blank" style="text-decoration:none"><b>FAQs</b></a>
                    </p>
                    <p class="signup__copy" style="padding-top: 1em;">
                        <b>Need help?</b> Chat live with a support specialist on the next page
                    </p>
                </div>
                <div class="icons">
                    <div class="icon">
                        <img src="https://cdn.humanapi.co/hosted-app/hapi/images/stopwatch.png" alt="A Stopwatch">
                        <h3>Only takes a few minutes</h3>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.humanapi.co/hosted-app/hapi/images/folder.png" alt="A folder">
                        <h3>Download a FREE copy of your records</h3>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.humanapi.co/hosted-app/hapi/images/secure-file.png" alt="A secured file">
                        <h3>HIPAA-compliant, bank-level security</h3>
                    </div>
                </div>
                <div class="powered-footer">
                    <img alt="Powered by Human API" class="humanapi-app__powered" src="/s/img/hapipowered.png"/>
                </div>
            </div>
        </div>
        {{{showConnect}}}
        <script>
            var tosContent = document.getElementById('tos-content');
            var tosChecboxDiv = document.getElementById('tos_div');
            var tosCheckbox = document.getElementById('tos');
            var connectButton = document.getElementById('connect-button');
            var spawnConnect = connectButton.getAttribute('onclick');

            function enableCheckboxIfTosScrolled() {
                if ((tosContent.scrollTop + tosContent.offsetHeight + 1) >= tosContent.scrollHeight) {
                    tosCheckbox.disabled = false;
                    tosChecboxDiv.setAttribute('style', 'color:#6e6e6e; cursor: pointer;font-size: 1.125em;')
                }
            }

            function verifyTosChecked() {
                if (tosCheckbox.checked) {
                    connectButton.setAttribute('style', 'cursor: pointer;margin-top: 20px');
                    connectButton.setAttribute('onclick', spawnConnect);
                    connectButton.classList.remove('disabled');
                    connectButton.disabled = false;
                } else {
                    connectButton.setAttribute('style', 'background: #CCCCCC; cursor: not-allowed; margin-top: 20px');
                    connectButton.setAttribute('onclick', "function doNothing() { return false; }");
                    connectButton.disabled = true;
                }
            }

            // if(tosContent) {
                enableCheckboxIfTosScrolled();
                tosContent.addEventListener('scroll', enableCheckboxIfTosScrolled);
            // }

            verifyTosChecked();
            tosCheckbox.addEventListener('change', verifyTosChecked);
        </script>
    </body>
</html>
