<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <meta property="og:title" content="Share your health data with {{clientname}}" />
        <meta property="og:image" content="" />
        <title>{{clientname}}</title>
        <link href="/s/css/styles.css" rel="stylesheet" type="text/css" />
        <link href="/s/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <script>{{{hapiMixpanel}}}</script>
        <script src="/s/js/jquery.min.js"></script>
        {{!-- Use with Date of Birth field 
        <!-- <script src="/s/js/pikaday.js"></script> -->
        <!-- <script src="/s/js/moment.min.js"></script> -->
        --}}
        <script id="connect" src="{{connectjsURL}}"></script>
        <script id="kiosk" src="/s/js/kiosk-script.js"></script>
    </head>

    <body class="humanapi-app">
        <div class="humanapi-app__main" id="app">
            <img alt="{{clientname}}" class="humanapi-app__logo" id="logo" src="/s/img/logo.png"/>
            <h1 class="humanapi-app__heading">
                We need more information to process your application
            </h1>
            <div class="msg-container">
                <p class="signup__copy">
                    As part of the application, your medical history is required.
                    Typically, this information is collected behind-the-scenes over
                    mail or fax and can take several weeks. You can now provide
                    this information electronically to expedite this process.
                </p>
            </div>
            <div class="signup__container" id="signup-container">
                <form autocomplete="off" class="signup__form signup__form--with-names" method="post" style="margin: 2rem 0 1rem;" id="signup-form">
                    <h2 class="form-heading">Please provide the following information to get started:</h2>
                    <div class="signup__names-container">
                        <label class="signup__input-container signup__input-container--name-field">
                            <span class="signup__label">First name</span>
                            <input class="signup__input" data-lpignore="true" id="firstName" name="firstName"
                                placeholder="" required type="text" autofocus>
                        </label>
                        <label class="signup__input-container signup__input-container--name-field">
                            <span class="signup__label">Last name</span>
                            <input class="signup__input" data-lpignore="true" id="lastName" name="lastName"
                                placeholder="" required type="text">
                        </label>
                    </div>
                    {{!--
                     <!-- <div class="signup__names-container">
                         <label class="signup__input-container signup__input-container--dob-field">
                            <span class="signup__label">Date of Birth</span>
                            <input class="signup__input" data-lpignore="true" id="dateOfBirth" name="dateOfBirth"
                                placeholder="mm/dd/yyyy" required type="date">
                        </label>
                    </div> -->
                    --}}
                    <div class="signup__names-container">
                        <label class="signup__input-container signup__input-container--email-field">
                            <span class="signup__label">Email</span>
                            <input class="signup__input" data-lpignore="true" id="emailid" name="emailid"
                                placeholder="example@domain.com" required type="email">
                        </label>
                    </div>
                    {{!--
                    <!-- <div class="tos-content" id="tos-content">    </div> -->
                    --}}
                    <label id="tos_div" class="signup__copy container" style="font-size: 1.125em;">
                        <div class="checkbox-area">
                            <div style="margin-right: 10px;">
                                <input id="tos" type="checkbox" name="tos-agree" />
                                <span class="checkmark"></span>
                            </div>
                            <div>
                                I have read and agree to the <a href="https://www.humanapi.co/end-user-terms" target="_blank">Terms of Use</a>
                                and <a href="https://www.humanapi.co/privacy-policy" target="_blank">Privacy Policy</a>
                            </div>
                        </div>
                    </label>
                    <input id="connect-button" class="signup__connect" type="submit" value="Continue" disabled/>
                </form>
                <p class="signup__error"></p>
            </div>
            <div class="footer-imgs">
                <div class="help-links">
                    <p class="signup__copy">
                        <b>Have questions?</b> Read our <a href="https://reference.humanapi.co/page/frequently-asked-questions" target="_blank" style="text-decoration:none"><b>FAQs</b></a>
                    </p>
                    <p class="signup__copy" style="padding-top: 1em;">
                        <b>Need help?</b> Chat live with a support specialist on the next page
                    </p>
                </div>
                <div class="icons">
                    <div class="icon">
                        <img src="https://cdn.humanapi.co/hosted-app/hapi/images/stopwatch.png" alt="A Stopwatch">
                        <h3>Only takes a few minutes</h3>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.humanapi.co/hosted-app/hapi/images/folder.png" alt="A folder">
                        <h3>Download a FREE copy of your records</h3>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.humanapi.co/hosted-app/hapi/images/secure-file.png" alt="A secured file">
                        <h3>HIPAA-compliant, bank-level security</h3>
                    </div>
                </div>
                <div class="powered-footer">
                    <img alt="Powered by Human API" class="humanapi-app__powered" src="/s/img/hapipowered.png"/>
                </div>
            </div>
        </div>
        {{{showConnect}}}
        <script>
            var tosContent = document.getElementById('tos-content');
            var tosChecboxDiv = document.getElementById('tos_div');
            var tosCheckbox = document.getElementById('tos');
            var connectButton = document.getElementById('connect-button');
            var spawnConnect = connectButton.getAttribute('onclick');

            function enableCheckboxIfTosScrolled() {

                if ((tosContent.scrollTop + tosContent.offsetHeight + 1) >= tosContent.scrollHeight) {
                    tosCheckbox.disabled = false;
                    tosChecboxDiv.setAttribute('style', 'color:#6e6e6e; cursor: pointer;font-size: 1.125em;')
                }
            }

            function verifyTosChecked() {
                if (tosCheckbox.checked) {
                    connectButton.setAttribute('style', 'cursor: pointer;');
                    connectButton.setAttribute('onclick', spawnConnect);
                    connectButton.classList.remove('disabled');
                    connectButton.disabled = false;
                } else {
                    connectButton.setAttribute('style', 'background: #CCCCCC; cursor: not-allowed;');
                    connectButton.setAttribute('onclick', "function doNothing() { return false; }");
                    connectButton.disabled = true;
                }
            }

            if(tosContent) {
                enableCheckboxIfTosScrolled();
                tosContent.addEventListener('scroll', enableCheckboxIfTosScrolled);
            }

            verifyTosChecked();
            tosCheckbox.addEventListener('change', verifyTosChecked);
        </script>
    </body>

</html>
