<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <meta property="og:title" content="Share your health data with {{clientname}}" />
        <meta property="og:image" content="" />
        <title>{{clientname}}</title>
        <link href="/s/css/styles.css" rel="stylesheet" type="text/css" />
        <link href="/s/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <script>{{{hapiMixpanel}}}</script>
        <script src="/s/js/jquery.min.js"></script>
        <script id="connect" src="{{connectjsURL}}"></script>
        <script id="kiosk" src="/s/js/kiosk-script.js"></script>
        <style>
            a {
                text-decoration: none;
                font-weight: 700;
            }
            .footer-imgs {
                margin-top: 0rem;
            }
            #signup-form {
                margin-top: 2rem;
            }
            #signup-form > label {
                text-align: left;
            }
            @media (max-width: 699px) {
                .humanapi-app__main {
                    background-position: left 40% bottom calc(95% - 12rem);
                }
            }
            @media (max-width: 699px) and (min-device-height: 668px), (min-width: 550px) {
                #signup-container {
                    width: 95%;
                    min-width: 320px;
                }
            }
            @media (min-width: 700px) {
                .humanapi-app__main {
                    background-position: left 25% bottom calc(100% - 16rem);
                }
                #signup-form {
                    margin-top: 2rem;
                    width: 60%;
                }
            }
            @media (min-width: 1200px) {
                #signup-container {
                    width: 75%;
                }
            }
        </style>
    </head>
    <body class="humanapi-app">
        <div class="humanapi-app__main" id="app">
            <img alt="{{clientname}}" class="humanapi-app__logo" id="logo" src="/s/img/logo.png"/>
            <div class="signup__container" id="signup-container">
                <form autocomplete="off" class="signup__decline-form" method="post" id="signup-form">
                    <h2>Please specify why you don't want to share your electronic health records</h2>
                    <label class="signup__decline-reason">
                        <input type="radio" name="reason" value="prefer-to-share-hard-copy" required />
                        I prefer to share a hard copy of my health records
                    </label>
                    <label class="signup__decline-reason">
                        <input type="radio" name="reason" value="no-portal" required />
                        I don't have a patient portal account
                    </label>
                    <label class="signup__decline-reason">
                        <input type="radio" name="reason" value="do-not-know" required />
                        I don't know what to do
                    </label>
                    <label class="signup__decline-reason">
                        <input type="radio" name="reason" value="skeptical" required />
                        I am skeptical about this service
                    </label>
                    <label class="signup__decline-reason">
                        <input type="radio" name="reason" value="other" required />
                        Other
                        <textarea name="otherReason" maxlength="255"></textarea>
                    </label>
                    <input class="signup__confirm" type="submit" value="Submit" />
                </form>
            </div>
            <div class="footer-imgs">
                <div class="help-links">
                    <p class="signup__copy" style="font-size: 1rem;">
                        If you opted out by mistake, <a href="{{invitationLink}}">click here</a> to go back.
                    </p>
                </div>
                <div class="powered-footer">
                    <img alt="Powered by Human API" class="humanapi-app__powered" src="/s/img/hapipowered.png"/>
                </div>
            </div>
        </div>
    </body>
</html>
