@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&display=swap');

@font-face {
    font-family: "DinLight";
    src: url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProLight-Limited.eot");
    src: url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProLight-Limited.eot?#iefix")
    format("embedded-opentype"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProLight-Limited.woff2") format("woff2"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProLight-Limited.woff") format("woff"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProLight-Limited.ttf") format("truetype"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProLight-Limited.svg#wf") format("svg");
}

@font-face {
    font-family: "DinRegular";
    src: url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProRegular-Limited.eot");
    src: url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProRegular-Limited.eot?#iefix")
    format("embedded-opentype"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProRegular-Limited.woff2") format("woff2"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProRegular-Limited.woff") format("woff"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProRegular-Limited.ttf") format("truetype"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProRegular-Limited.svg#wf") format("svg");
}

@font-face {
    font-family: "DinMedium";
    src: url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProMedium-Limited.eot");
    src: url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProMedium-Limited.eot?#iefix")
    format("embedded-opentype"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProMedium-Limited.woff2") format("woff2"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProMedium-Limited.woff") format("woff"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProMedium-Limited.ttf") format("truetype"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProMedium-Limited.svg#wf") format("svg");
}

@font-face {
    font-family: "DinBold";
    src: url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProBold-Limited.eot");
    src: url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProBold-Limited.eot?#iefix")
    format("embedded-opentype"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProBold-Limited.woff2") format("woff2"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProBold-Limited.woff") format("woff"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProBold-Limited.ttf") format("truetype"),
    url("https://cdn.humanapi.co/hosted-app/hapi/fonts/DinProBold-Limited.svg#wf") format("svg");
}

:root {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "DinRegular", sans-serif;
    line-height: 28px;
    color: #45494e;
    height: 100vh;
}

.main {
    max-width: 1024px;
    margin: auto;
    text-align: center;
}

#app h2 {
    line-height: 30px;
}

.button {
    background: #0176b6;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 0.5em 1em;
    font-weight: normal;
    font-size: 22px;
    border: none;
}

.spacebefore-1 {
    padding-top: 1.8em;
}

.spacebefore-2 {
    padding-top: 3.33em;
}

.small {
    font-size: 0.66em;
}

.powered {
    color: #9c9c9c;
    width: 150px;
}

#logo img {
    width: calc(100% - 40px);
    display: block;
    margin: auto;
}

.hamburger {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    height: 1.375rem;
    left: 14px;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 3px;
    position: absolute;
    text-transform: none;
    top: 28px;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    transition-timing-function: linear;
    width: 1.875rem;
    z-index: 2;
}

.hamburger__box {
    display: inline-block;
    height: 15px;
    position: relative;
    width: 24px;
}

.hamburger__inner {
    margin-top: -1.5px;
    top: 50%;
    transition: background-color 0s 0.13s linear;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
    background-color: #45494e;
    border-radius: 0.5px;
    display: block;
    height: 3px;
    position: absolute;
    transition-duration: 0.15s;
    transition-property: transform;
    transition-timing-function: ease;
    width: 24px;
}

.hamburger__inner::before,
.hamburger__inner::after {
    content: "";
}

.hamburger__inner::before {
    top: -6px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger__inner::after {
    bottom: -6px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.humanapi-app--header-visible .hamburger .hamburger__inner {
    background-color: transparent;
    transition-delay: 0.22s;
}

.humanapi-app--header-visible .hamburger .hamburger__inner::before {
    top: -3px;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 6px, 0) rotate(45deg);
}

.humanapi-app--header-visible .hamburger .hamburger__inner::after {
    top: -3px;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 6px, 0) rotate(-45deg);
}

.humanapi-app__logo {
    height: 45px;
    width: auto;
}

.humanapi-app__header {
    background-color: white;
    z-index: 1;
}

.humanapi-app__navigation {
    margin: 3rem 0 0;
}

.humanapi-app__links-list {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.humanapi-app__links-list li {
    display: block;
    margin: 0 auto 0.8125rem;
}

.humanapi-app__link {
    color: #52565a;
    display: inline-block;
    font-family: Quicksand, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 0.8125rem 0.8125rem 0.75rem;
    text-decoration: none;
    white-space: nowrap;
}

.humanapi-app__link--external {
    background-color: #172f53;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    display: inline-block;
    padding-left: 1.25rem;
    padding-right: 3rem;
    position: relative;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
}

.humanapi-app__link--external::after {
    background-image: url("https://cdn.humanapi.co/hosted-app/hapi/images/external-link.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 1rem;
    margin-top: -0.5rem;
    position: absolute;
    right: 1.25rem;
    top: 50%;
    width: 1rem;
    z-index: 1;
}

.humanapi-app__main {
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
    padding: 2rem 1rem 0;
    background-image: url("https://cdn.humanapi.co/hosted-app/hapi/images/hapi-bg.png");
    background-repeat: no-repeat;

}

.signup__copy {
    color: #6E6E6E;
    font-size: 1.125rem;
    letter-spacing: -0.4px;
    line-height: 1.625rem;
    margin: 0;
}

.signup__form,
.signup__decline-form {
    box-sizing: border-box;
    position: relative;
    margin: 1.5rem 0 1rem;
    width: 100%;
}

.signup__error {
    color: darkred;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0;
}

.signup {
    &__names-container {
        display: flex;
        justify-content: space-between;
    }

    &__input-container {
        background-color: white;
        border-radius: 25px;
        border: 1px solid #e5eaf0;
        box-shadow: 4px 8px 10px 0 #f3f3f3;
        box-sizing: border-box;
        display: block;
        height: 30px;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        position: relative;
        width: 100%;
        z-index: 0;

        &--name-field {
            width: calc(50% - 0.5rem);
        }

        &--email-field {
            margin-bottom: 1.5rem;
        }
    }

    &__input {
        border: none;
        box-shadow: none !important;
        box-sizing: border-box;
        display: block;
        font-family: Quicksand, sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        height: 100%;
        line-height: 1;
        outline: none !important;
        overflow: visible;
        padding: 0;
        white-space: nowrap;
        width: 100%;

        &::placeholder {
            color: #9e9e9e;
            overflow: visible;
        }
    }

    &__label {
        font-weight: 900;
        left: 0;
        line-height: 2rem;
        position: absolute;
        text-transform: uppercase;
        top: -2rem;
        user-select: none;
        white-space: nowrap;
    }
}

.signup__decline-reason {
    cursor: pointer;
    display: block;
    margin: 0 0 0.5rem;
    padding-left: 2.5rem;
    position: relative;
}

.signup__decline-reason input[type=radio] {
    height: 1.5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.5rem;
}

.signup__decline-reason textarea {
    display: none;
    min-height: 4rem;
    width: 80%;
}

.otherReason__count {
    color: #999;
    display: block;
    font-size: 0.8rem;
    line-height: 2;
    text-align: right;
    visibility: hidden;
    width: 80%;
}

.signup__decline-reason input[type=radio]:checked ~ textarea {
    display: block;
}

.signup__decline-reason input[type=radio]:checked ~ .otherReason__count {
    visibility: visible;
}

.signup__submit {
    background-color: #196eea;
    border-radius: 30px;
    border: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    font-family: Quicksand, sans-serif;
    font-size: 0.8125rem;
    font-weight: 700;
    height: 36px;
    letter-spacing: 0.8px;
    line-height: 6px;
    outline: none;
    padding: 6px 1rem;
    position: absolute;
    right: 3px;
    text-align: center;
    text-transform: uppercase;
    top: 3px;
    transition: background-color 400ms ease 0s;
    white-space: nowrap;
    width: 119px;
    z-index: 1;
    -webkit-appearance: none;
}

.signup__decline {
    color: #666;
    display: block;
    // font-size: 0.8rem;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
    text-decoration: underline;
}

.signup__connect,
.signup__confirm {
    background-color: #196eea;
    border-radius: 23px;
    border: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    font-family: Quicksand, sans-serif;
    // font-size: 0.8125rem;
    font-size: 1.15rem;
    font-weight: 700;
    height: 40px;
    letter-spacing: 0.8px;
    line-height: 6px;
    margin: 0 auto;
    outline: none;
    padding: 6px 1.25rem;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 400ms ease 0s;
    white-space: nowrap;
    -webkit-appearance: none;
    width: 100%;

    .signup__form--with-names & {
        margin: 0;
    }

    &:disabled {
        background-color: #8cb6f4 !important;
    }
}

.signup__confirm {
    margin: 2rem 0 !important;
    padding: 17px 4rem !important;
}

.signup__submit:disabled {
    background-color: #8cb6f4 !important;
}

.humanapi-app__powered {
    margin-top: -1px;
    width: 157px;
}

.humanapi-app__heading {
    // font-family: Quicksand, sans-serif;
    // font-size: 2rem;
    // font-weight: 300;
    // line-height: 2.625rem;
    // margin: 0.5rem 0;
    font-family: Quicksand, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.625rem;
    margin: 0.5rem 0;
    color: #153264;
}

.humanapi-app__heading strong {
    color: #172f53;
    font-weight: 700;
}

.humanapi-app--header-visible {
    overflow: hidden;
}

#app {
    // border: 1px solid orange;
    min-height: 100vh;
    min-width: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    a {
        color: #276cf2;
    }
}
.msg-container {
    // border: 1px solid purple;
    width: 85%;
    margin:1.5em 0;
    p {
        font-size: 1.4rem;
        line-height: 1.6em;
    }
}

#signup-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    // border: 1px solid pink;
    width: 70%;

    #signup-form {
        border: 1px solid #e5eaf0;
        box-shadow: 0 0 15px 2px rgba(0,0,0,0.07);
        border-radius: 20px;
        background-color: white;
        position: relative;
        margin: 2rem 0 1rem;
        a {
            text-decoration: none;
        }
    }
}

.form-heading {
    text-align: center;
    width: 100%;
    margin-bottom: 1.5em;
}

.footer-imgs {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;

    .help-links {
        margin: auto;
        p {
            font-weight: 300;
            color: #45494e
        }
    }

    .icons {
        display: flex;
        justify-content: space-between;
        margin: 1.5em 1.3em 1.3em 1.3em;
        .icon {
            border: 1px solid white;
            border-radius: 10px;
            background-color: #ffffff;
            padding-top: 1em;
            text-align: center;
            margin: 1.3em;
            border: 1px solid #e5eaf0;
            box-shadow: 0 0 15px 2px rgba(0,0,0,0.07);
            border-radius: 10px;

            img {
                background-color: white;
            }
        }
    }
    .powered-footer {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
.tos-content {
    text-align: left;
    height: 20vh;
    overflow-y: scroll;
    padding: 1rem 1rem;
    margin-bottom: 20px;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.07);
    color: red;

    p {
        text-align: left;
        padding-left: 0.5rem;
        font-size: 0.95em;
    }
}
/* Create a custom checkbox */
.checkmark {
    position: relative;
    // top: 2px;
    top: -1px;
    display: inline-block;
    left: 0px;
    height: 22px;
    width: 22px;
    background-color: white;
    line-height: 22px;
    border: 1.5px solid #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    /* background-color: #ccc; */
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#dateOfBirth {
    text-transform: uppercase;
}
.checkbox-area {
    display: flex;
    text-align: left;
    margin-bottom: 10px;
}
.sources {
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    min-width: 335px;
    min-height: 150px;
    border: 1px solid #e5eaf0;
    box-shadow: 0 0 22px 0 rgb(235, 235, 235);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .sourceName {
        font-size: 1.7em;
        font-weight: 600;
        margin: 10px 3px;
    }
}
/* Only mobile devices */
@media (max-width: 699px) {
    #signup-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        width: 99%;

        #signup-form {
            width: 95%;
            padding: 1rem 2rem 2rem;
        }
    }

    .humanapi-app__header {
        box-shadow: rgba(224,224,224,0.6) 1px 0px 20vw 30vw;
        box-sizing: border-box;
        display: block;
        height: 100vh;
        left: -160vw;
        padding: 2rem 4rem;
        position: fixed;
        background-color: white;
        text-align: center;
        top: 0;
        transition: left 300ms ease 200ms;
        width: 100vw;
    }

    .humanapi-app__main {
        // background-size: auto 100%;
        background-position: left 40% bottom calc(95% - 30rem);
    }

    .signup {
        &__names-container {
            display: flex;
            flex-direction: column;
            align-content: center;
        }

        &__input-container {
            height: 40px;
            width: 100%;
        }

        &__input {
            &::placeholder {
                color: #9e9e9e;
                overflow: visible;
            }
        }

        &__label {
            font-weight: 500;
            left: 0;
            line-height: 2rem;
            position: absolute;
            text-transform: uppercase;
            top: -2rem;
            user-select: none;
            white-space: nowrap;
        }
    }
    .icons {
        // display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
            width: 100%;
            min-width: 99.9%;
            img {
                width: 80px;
                background-color: white;
            }
        }
    }
    .help-links {
        // border: 1px solid blue;
        width: 90%;
        p {
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    .sources {
        width: 95%;
    }
}

/* Small screens (e.g. iPhone 5/SE) */
@media (max-width: 699px) and (max-device-height: 568px) {
    :root {
        font-size: 10px;
    }
}

/* Phablets and mobile devices with tall screens */
@media (max-width: 699px) and (min-device-height: 668px), (min-width: 550px) {
    :root {
        font-size: 14px;
    }

    .humanapi-app__main {
        // margin-top: 0;
        // background-size: cover;
        background-position: left 40% bottom calc(95% - 28rem);
    }

    #logo img {
        max-width: 380px;
    }
    .help-links {
        // border: 1px solid blue;
        width: 90%;
        p {
            font-weight: 300;
            font-size: 1.5em;
            line-height: 1.5em;
        }
    }
    .sources {
        width: 65%;
    }
}

/* Tablets */
@media (min-width: 700px) {
    .hamburger {
        display: none;
    }

    .humanapi-app__main {
        background-size: cover;
        background-position: left 25% bottom calc(100% - 30rem);
    }

    .msg-container {
        width: 90%;
    }

    .humanapi-app__header {
        align-items: center;
        border-bottom: 1px solid #dee3e9;
        box-shadow: #f3f3f3 0 1px 16px 0;
        display: flex;
        height: 70px;
        justify-content: space-between;
        margin: 0;
        padding: 0 50px;
        position: relative;
    }

    .humanapi-app__logo {
        height: 50px;
    }

    .humanapi-app__navigation {
        margin-top: 0;
    }

    .humanapi-app__links-list {
        display: flex;
    }

    .humanapi-app__links-list li {
        margin: 0 0.5625rem;
    }

    .humanapi-app__links-list li:first-child {
        margin-left: 0;
    }

    .humanapi-app__links-list li:last-child {
        margin-right: 0;
    }

    .humanapi-app__link {
        font-size: 1.25rem;
    }

    .humanapi-app__powered {
        margin-top: 0;
        width: 214px;
    }

    .signup__form,
    .signup__decline-form {
        margin: 2rem 0 1rem;
    }

    .signup__submit:hover,
    .signup__connect:hover,
    .signup__confirm:hover {
        background-color: #003585;
    }

    .signup__input-container {
        height: 50px;
        padding: 0.75rem 1.5rem;
    }

    .signup__submit,
    .signup__connect,
    .signup__confirm {
        height: 50px;
        line-height: 0.75rem;
    }
    .icon {
        width: 500px;
        padding: 0 1rem;
        img {
            width: 75px;
        }
    }
    #signup-form {
        padding: 1rem 3rem 2rem 3rem;
    }
    .help-links {
        width: 70%;
        p {
            font-weight: 300;
            font-size: 1.7rem;
            line-height: 2.8rem;
        }
    }
}

/* Desktops */
@media (min-width: 1200px) {

    .humanapi-app__main {
        background-size: 100% 100%;
    }

    .humanapi-app__heading {
        font-size: 2.25rem;
        line-height: 4rem;
        margin-top: 0.75rem;
    }

    .signup__copy {
        font-size: 1.24rem;
        letter-spacing: 0px;
        line-height: 1.85rem;
    }

    .signup__email-container {
        padding-bottom: 0.875rem;
        padding-right: 10rem;
    }

    .signup__email {
        font-size: 1.0625rem;
        line-height: 1;
    }

    .signup__submit {
        width: 144px;
    }

    .msg-container {
        width: 75%;
    }

    #app {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    #signup-form {
        width: 65%;
    }
    .sources {
        width: 50%;
    }
}

#human-api-connect-modal-overlay {
    z-index: 2;
}
