<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thank you</title>
  <link rel="stylesheet" type="text/css" href="/s/css/styles.css" />
  <link rel="shortcut icon" href="/s/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/s/img/favicon.ico" type="image/x-icon">
  <script>{{{hapiMixpanel}}}</script>
  <script id="kiosk" src="/s/js/kiosk-script.js"></script>
  <style type="text/css">
    .sourceLogo {
        display: inline-block;
        margin-right: 10px;
        border: 0;
        width: 74px;
        height: 74px;
    }

    .sources {
    }
    .main{
      text-align: center;
    }

    .sourceName {
        font-weight: bold;
        display: inline-block;
        padding-left: 0;
        line-height: 74px;

    }




        .logo {
            width: 100%;
            padding: 30px 0;
            margin-bottom: 0px;
        }

        #logo img {
            width: auto;
            max-width: 100%;
            display: inline-block;
            margin: auto;
        }

  </style>
</head>

<body bgcolor="#6259c4">


  <div id="app" class="main">

<div id="logo" class="logo"><img
    src="/s/img/logo.png"
    alt="Logo" />
</div>

  {{#if humanConnectActivity.currentConnections.length }}
  <h2>Thank you!</h2>
        <p class="spacebefore-1">You've successfully connected your digital health data.</p>

         <!--{{#each humanConnectActivity.currentConnections}}
            <div class="sources">
                <img class="sourceLogo" src="https://cdn.humanapi.co/connect/sources/imgs/{{this.id}}.png"/>
                <span class="sourceName">{{this.name}}</span>
            </div>
        {{/each}}-->

    {{else}}
    <h2>Uh oh!</h2>
        <p class="spacebefore-1">It looks like you weren’t able to connect any of your accounts.
        <p>Have questions? Read our <a href="https://reference.humanapi.co/page/frequently-asked-questions" target="_blank">frequently asked questions</a>.</p>
        <p>If you arrived on this page accidentally, use the "Back" button on your browser to try again.</p>
    {{/if}}
</div>
</body>

</html>
