<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{clientname}}</title>
    <link rel="stylesheet" type="text/css" href="/s/css/styles.css" />
    <link rel="shortcut icon" href="/s/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/s/img/favicon.ico" type="image/x-icon">
    <script>{{{hapiMixpanel}}}</script>
    <script id="connect" src="{{connectjsURL}}"></script>
    <script id="kiosk" src="/s/js/kiosk-script.js"></script>
    <style>


        .logo {
            padding: 30px 0;
            margin-bottom: 0px;
        }

        #logo img {
            width: auto;
            max-width: 100%;
            display: inline-block;
            margin: auto;
        }
          .main{
      text-align: center;
    }

        .button.big {
            font-size: 26px;
        }

    </style>
</head>

<body bgcolor="#6259c4">

    <div id="app" class="main">
        <div id="logo" class="logo">
    <img src="/s/img/logo.png"
        alt="Logo" />

        </div>
        <!-- <h2><b>We want to process your application as quickly as possible.</b></h2> -->
        <p class="spacebefore-1">{{clientname}} uses Human API to allow you to digitally and securely share your health
            data with us, so that we can provide you with a more personalized health experience.</p>

        <p class="spacebefore-1">Have questions? Read our <a href="https://reference.humanapi.co/page/frequently-asked-questions" target="_blank">frequently asked questions</a>.</p>


        <div class="spacebefore-1" style="text-align:center">
            <a class="button big" style="cursor:pointer"
            onclick="HapiConnectOpen({{humanConnectOptions}})">Connect your health data</a>
            <div class="spacebefore-1 small">
                <a href="https://www.humanapi.co" target="_blank" class="powered">
                    <img class="powered" src="/s/img/hapipowered.png" alt="Powered by humanapi" />
                </a>
            </div>

            <!-- <p class="spacebefore-1">
                <i>By clicking "Connect health data" you are consenting to share your data  <a href="https://www.humanapi.co/end-user-terms/" target="_blank">View terms</a></i>
                </p> -->
        </div>
</body>

</html>
