body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #45494e;
}

.main{
    background: rgba(255,255,255, 1);
    max-width: 700px;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 40px;
    padding: 75px 100px;
    text-align: left;

}

#app h2 {
    line-height: 2.3rem;
    font-size: 28px;
    font-weight: bolder;
}

.button {
    background: #1B4FC0;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 16px;
    text-align: center;
    display: block;
    border: none;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.button:hover{
    background: #003585;
    transition: 0.4s;
    text-decoration: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #0031E0;
}

a:hover {
  text-decoration: underline;
}

.spacebefore-1{
    padding-top: .6em;
}

.spacebefore-2{
    padding-top: 3.33em;
}

.small {
    font-size: 0.8em;
    line-height: 1.4em;
}

.powered{
    color: #9c9c9c;
    width: 150px;
    display: block;
    margin:auto;
    margin-top: 10px;
}

#logo img {
    width: calc(100% - 50px);
    margin-bottom: 0;
}

@media (min-width: 500px) {
    #logo img {
        max-width: 300px;
    }
}

@media (max-width: 1024px) {

    .main {
        max-width: 64vw;
        font-size: 16px;
        line-height: 24px;
        padding: 40px 40px;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 50px;
    }

    #app h2 {
      font-size: 22px;
    }

    .spacebefore-1{ padding-top: 0.4em;}
    .spacebefore-2{ padding-top: 2em;}

    .button {
      font-size: 16px;
    }

}
