<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <meta property="og:title" content="Share your health data with {{clientname}}" />
        <meta property="og:image" content="" />
        <title>{{clientname}}</title>
        <link href="/s/css/styles.css" rel="stylesheet" type="text/css" />
        <link href="/s/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <script>{{{hapiMixpanel}}}</script>
        <script src="/s/js/jquery.min.js"></script>
        <script id="connect" src="{{connectjsURL}}"></script>
        <script id="kiosk" src="/s/js/kiosk-script.js"></script>
    </head>
    <body class="humanapi-app">
        <div class="humanapi-app__main" id="app">
            <div class="signup__container" id="signup-container">
                <h1 class="humanapi-app__heading" style="font-size: 3.125rem; margin-top:3rem; margin-bottom: 1rem;">Thank you!</h1>
            </div>
        </div>
    </body>
</html>
