<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <meta property="og:title" content="Share your health data with {{clientname}}" />
        <meta property="og:image" content="" />
        <title>{{clientname}}</title>
        <link href="/s/css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="/s/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href="/s/img/favicon.ico" rel="icon" type="image/x-icon">
        <script>{{{hapiMixpanel}}}</script>
        <script src="/s/js/jquery.min.js"></script>
        <script id="connect" src="{{connectjsURL}}"></script>
        <script id="kiosk" src="/s/js/kiosk-script.js"></script>
    </head>

    <body class="humanapi-app">
        <div class="humanapi-app__main" id="app">
            <img alt="{{clientname}}" class="humanapi-app__logo" id="logo" src="/s/img/logo.png"/>
            <h1 class="humanapi-app__heading">
                Accelerate your application
            </h1>
            <div class="msg-container">
                <p class="signup__copy">
                    Potentially expedite your application by connecting your patient portals and authorizing 
                    the transfer of your electronic health records to {{clientname}}! It only takes a few minutes 
                    to complete the process, compared to a few weeks or even months to obtain your medical 
                    records through fax or mail.
                </p>
            </div>
            <div class="signup__container" id="signup-container">
                <form autocomplete="off" class="signup__form" method="post" id="signup-form">
                    <h2 class="form-heading">Please read the following information and then click on the check box to confirm you have read and understand:</h2>
                    <div class="tos-content" id="tos-content" >
                        <p class="signup__copy" style="font-size: 1.00rem;">
                            By clicking the "Connect my health Data" button below, you authorize Human API to 
                            disclose your medical record information to {{clientname}} and/or its reinsurers.  
                            Such information once provided to {{clientname}} will be subject to {{clientname}}'s privacy 
                            policy and terms and conditions.
                        </p>
                        <br/>
                        <p class="signup__copy" style="font-size: 1.00rem;">
                            Human API is an independent organization and is not an affiliate of {{clientname}}, 
                            or any of its subsidiaries ("{{clientname}}"), and Human API's website and services are 
                            not maintained by {{clientname}}.  The ability to link your medical records to Human API is 
                            provided as a convenience, but it does not constitute an endorsement or sponsorship of 
                            any of Human API’s products or services and does not create an affiliation or partnership 
                            between {{clientname}} and Human API.  The decision to use the Human API website is exclusively 
                            yours.
                        </p>
                        <br/>
                         <p class="signup__copy" style="font-size: 1.00rem;">
                            You should review the <a href="https://www.humanapi.co/end-user-terms" target="_blank">terms 
                            of service</a> and <a href="https://www.humanapi.co/privacy-policy" target="_blank">privacy 
                            and information security policies</a> of Human API. You understand that neither {{clientname}}, 
                            nor its subsidiaries or affiliates, is responsible for the privacy, information security 
                            practices, or contents of Human API's website, products and services.  {{clientname}} makes no 
                            warranties, either expressed or implied, concerning Human API's website and disclaims all 
                            liability and all damages arising from your use of or inability to use the Human API website, 
                            products and services.
                        </p>
                    </div>
                    <label id="tos_div" class="signup__copy container" style="font-size: 1.125em;">
                        <div class="checkbox-area">
                            <div style="margin-right: 10px;">
                                <input id="tos" type="checkbox" name="tos-agree" disabled>
                                <span class="checkmark"></span>
                            </div>
                            <div>
                                I have read and understand the above
                            </div>
                        </div>
                    </label>
                    <button id="connect-button" class="signup__connect" onclick="HapiConnectOpen({{humanConnectOptions}})" disabled>
                        Connect my health data
                    </button>
                    <a class="signup__decline" href="{{declinationLink}}">I don't want to expedite my application</a>
                </form>
            </div>
            <div class="footer-imgs">
                <div class="help-links">
                    <p class="signup__copy">
                        <b>Have questions?</b> Read our <a href="https://reference.humanapi.co/page/frequently-asked-questions" target="_blank" style="text-decoration:none"><b>FAQs</b></a>
                    </p>
                    <p class="signup__copy" style="padding-top: 1em;">
                        <b>Need help?</b> Chat live with a support specialist on the next page
                    </p>
                </div>
                <div class="icons">
                    <div class="icon">
                        <img src="https://cdn.humanapi.co/hosted-app/hapi/images/stopwatch.png" alt="">
                        <span>Only takes a few minutes</span>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.humanapi.co/hosted-app/hapi/images/folder.png" alt="">
                        <span>Download a FREE copy of your records</span>
                    </div>
                    <div class="icon">
                        <img src="https://cdn.humanapi.co/hosted-app/hapi/images/secure-file.png" alt="">
                        <span>HIPAA-compliant, bank-level security</span>
                    </div>
                </div>
                <div class="powered-footer">
                    <img alt="Powered by Human API" class="humanapi-app__powered" src="/s/img/hapipowered.png"/>
                </div>
            </div>
        </div>
        {{{showConnect}}}

        <script>
            var tosContent = document.getElementById('tos-content');
            var tosChecboxDiv = document.getElementById('tos_div');
            var tosCheckbox = document.getElementById('tos');
            var connectButton = document.getElementById('connect-button');
            var spawnConnect = connectButton.getAttribute('onclick');

            function enableCheckboxIfTosScrolled() {
                if ((tosContent.scrollTop + tosContent.offsetHeight + 1) >= tosContent.scrollHeight) {
                    tosCheckbox.disabled = false;
                    tosChecboxDiv.setAttribute('style', 'color:#6e6e6e; cursor: pointer;font-size: 1.125em;')
                }
            }

            function verifyTosChecked() {
                if (tosCheckbox.checked) {
                    connectButton.setAttribute('style', 'cursor: pointer;margin-top: 20px');
                    connectButton.setAttribute('onclick', spawnConnect);
                    connectButton.classList.remove('disabled');
                    connectButton.disabled = false;
                } else {
                    connectButton.setAttribute('style', 'background: #CCCCCC; cursor: not-allowed; margin-top: 20px');
                    connectButton.setAttribute('onclick', "function doNothing() { return false; }");
                    connectButton.disabled = true;
                }
            }

            // if(tosContent) {
                enableCheckboxIfTosScrolled();
                tosContent.addEventListener('scroll', enableCheckboxIfTosScrolled);
            // }

            verifyTosChecked();
            tosCheckbox.addEventListener('change', verifyTosChecked);
        </script>
    </body>
</html>
