<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <meta property="og:title" content="Share your health data with {{clientname}}" />
        <meta property="og:image" content="" />
        <title>Thank you</title>
        <link href="/s/css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="/s/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href="/s/img/favicon.ico" rel="icon" type="image/x-icon">
        <script>{{{hapiMixpanel}}}</script>
        <script src="/s/js/jquery.min.js"></script>
        <script id="connect" src="{{connectjsURL}}"></script>
        <script id="kiosk" src="/s/js/kiosk-script.js"></script>
        <style>
            a {
                text-decoration: none;
                font-weight: 700;
            }
            @media (max-width: 699px) {
                .humanapi-app__main {
                    background-position: left 40% bottom calc(95% - 20rem);
                }
            }
            @media (max-width: 699px) and (min-device-height: 668px), (min-width: 550px) {
                .humanapi-app__main {
                    background-position: left 40% bottom calc(95% - 18rem);
                }
            }
            @media (min-width: 700px) {
                .humanapi-app__main {
                    background-position: left 40% bottom calc(100% - 23rem);
                }
            }
            @media (min-width: 1200px) {
                .humanapi-app__main {
                    background-position: left 40% bottom calc(95% - 21rem);
                }
            }
        </style>
    </head>

    <body class="humanapi-app">
        <div class="humanapi-app__main" id="app">
            <img alt="{{clientname}}" class="humanapi-app__logo" id="logo" src="/s/img/logo.png"/>
            <div class="signup__container" id="signup-container">
                {{#if humanConnectActivity.currentConnections.length }}
                    <div class="signup__container" id="signup-container">
                        <h1 class="humanapi-app__heading" style="font-size: 3.125rem; margin-top:3rem; margin-bottom: 1rem;">Thank you!</h1>
                        <div class="msg-container">
                            <p class="signup__copy" style="font-size: 1.8em;">
                                You've successfully authorized the transfer of your electronic health records from the following providers:
                            </p>
                        </div>
                        <div class="sources">
                            {{#each humanConnectActivity.currentConnections}}
                                <span class="sourceName">{{this.name}}</span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="footer-imgs">
                        <div class="help-links">
                            <p class="signup__copy" style="font-size: 1.7rem;">
                                <strong>Want to add more providers? <a href="#" onClick="history.go(-1)">Go back</a> to repeat the process</strong>
                            </p>
                        </div>
                        <div class="powered-footer">
                            <img alt="Powered by Human API" class="humanapi-app__powered" src="/s/img/hapipowered.png"/>
                        </div>
                    </div>
                {{else}}
                    <div class="signup__container" id="signup-container">
                        <h1 class="humanapi-app__heading" style="font-size: 3.125rem; margin-top:3rem; margin-bottom: 1rem;">Uh oh!</h1>
                        <div class="msg-container">
                            <p class="signup__copy" style="font-size: 1.335rem;">
                            It looks like you didn't connect your electronic health records. If you did this by mistake
                            <a href="#" onClick="history.go(-1)">click here to go back and try again.</a>
                            </p>
                            <p class="signup__copy spacebefore-1" style="font-size: 1.335rem;">
                                <strong>Don't want to share your health records electronically?</strong>
                                <br>
                                <a href="{{declinationLink}}">Let us know</a> so that we can request your medical records via fax or phone instead.
                                Note that this process could take several weeks, compared to just a few hours.
                            </p>
                        </div>
                    </div>
                    <div class="footer-imgs" style="margin-top: 6rem;">
                        <div class="help-links">
                            <p class="signup__copy"><b>Have questions?</b> Read our <a href="https://reference.humanapi.co/page/frequently-asked-questions" target="_blank" style="text-decoration:none;"><b>FAQs</b></a></p>
                            <p class="signup__copy" style="padding-top: 1em;margin-bottom: 2em;"><b>Need help?</b> Chat live with a support specialist on the next page</p>
                        </div>
                        <div class="icons">
                            <div class="icon">
                                <img src="https://cdn.humanapi.co/hosted-app/hapi/images/stopwatch.png" alt="">
                                <span>Only takes a few minutes</span>
                            </div>
                            <div class="icon">
                                <img src="https://cdn.humanapi.co/hosted-app/hapi/images/folder.png" alt="">
                                <span>Download a FREE copy of your records</span>
                            </div>
                            <div class="icon">
                                <img src="https://cdn.humanapi.co/hosted-app/hapi/images/secure-file.png" alt="">
                                <span>HIPAA-compliant, bank-level security</span>
                            </div>
                        </div>
                        <div class="powered-footer">
                            <img alt="Powered by Human API" class="humanapi-app__powered" src="/s/img/hapipowered.png"/>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        {{{showConnect}}}
    </body>
</html>
