<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <meta property="og:title" content="Share your health data with {{clientname}}" />
        <meta property="og:image" content="/s/img/lifeco.jpg" />
        <title></title>
        <link href="/s/css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="/s/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link href="/s/img/favicon.ico" rel="icon" type="image/x-icon">
        <script>{{{hapiMixpanel}}}</script>
        <script src="/s/js/jquery.min.js"></script>
        <script id="connect" src="{{connectjsURL}}"></script>
        <script id="kiosk" src="/s/js/kiosk-script.js"></script>
    </head>

    <body class="humanapi-app">
        <button aria-controls="navigation" aria-label="Menu" class="hamburger" type="button">
            <span class="hamburger__box">
                <span class="hamburger__inner"></span>
            </span>
        </button>
        <header class="humanapi-app__header">
            <!--<img alt="{{clientname}}" class="humanapi-app__logo" id="logo" src="/s/img/lifeco.jpg"/>-->
            <nav class="humanapi-app__navigation">
                <ul class="humanapi-app__links-list">
                    <li>
                        <a class="humanapi-app__link" target="_blank" href="https://reference.humanapi.co/page/frequently-asked-questions">FAQ</a>
                    </li>
                    <li>
                        <a class="humanapi-app__link" href="mailto:help@humanapi.co">Contact</a>
                    </li>
                   <!-- <li>
                        <a class="humanapi-app__link humanapi-app__link--external" target="_blank" href="https://life.co">Life.co</a>
                    </li>-->
                </ul>
            </nav>
        </header>
        <div class="humanapi-app__main" id="app">
            <div class="signup__container" id="signup-container">
                <h2>E-mail signup is not supported for this Hosted App.</h2>
            </div>
        </div>
        {{{showConnect}}}
    </body>
</html>
