<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Invalid Link</title>
        <link rel="stylesheet" type="text/css" href="/s/css/invalid-link-styles.css" />
        <link rel="shortcut icon" href="/s/img/favicon.ico" type="image/x-icon">
        <script>{{{hapiMixpanel}}}</script>
        <script id="kiosk" src="/s/js/kiosk-script.js"></script>
    </head>

    <body>
        <div id="app" class="main">
            <div id="logo" class="logo">
                <img src="/s/img/invalid-link.png" style="width:100px" alt="" />
            </div>
            <h1 style="font-size: 1.5em;">Invalid Link</h1>
            <p class="spacebefore-1">
                The URL you are trying to access is either invalid or expired. 
            </p>
        </div>
    </body>

</html>
